# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Media Files
*.jpg
*.JPG
*.jpeg
*.png
*.m4a 
*.mp4
*.mp3
*.opus

# OSX Junk
.DS_Store

# Eclipse Files
.metadata
bin/
obj/
Debug/
Release/
.project
.cproject
.settings/
